{% extends 'base.html' %}
{% load static %}

{% block content %}
<section>
  <article>
    <h3>NOTE :- After Click Submit Button You Should Pay in between 5min for order confirmation.</h3>
    <p><h3>PhonePe_Number :- 8457839464, Banking_Name:- Nrupen Nayak</h3></p>
    <h1>Make a reservation</h1>
    <!--Begin row-->
    <div class="row">
      <!--Begin col-->
      <div class="column">
        <form action="" method="post">
          {% csrf_token %}
          {{form.as_p}}
          <input type="submit" id="button">
        </form>
      </div>
      <!--End col-->

      <!--Begin col-->
      <div class="column">
        <div class="videowrap">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3753.6258377309823!2d85.82904721470993!3d19.813455386669116!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a19c7436b4864ad%3A0x44295e05824c2e87!2sPuri%20Jagannath%20temple!5e0!3m2!1sen!2sin!4v1676749716132!5m2!1sen!2sin"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
      <!--End col-->
    </div>
    <!--End row-->




  </article>
</section>
{% endblock %}